---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<title>Portfolio web Frontend || Camilo Rodriguez</title>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio de Camilo Rodriguez. Un desarrollador web Frontend con mas de dos años de estudio. En él encontrarás una presentacion de quién es, las tecnmologías que usa (tales como React, NodeJs, Express, MongoDB, Tailwind, etc.), sus proyectos y los métodos de contacto."
		/>
		<meta name="author" content="Camilo Rodriguez" />
		<meta
			name="keywords"
			content="portfolio, portafolio, full-stack, frontend, backend, desarrollador, desarrollador web, programador, javascript, react, tailwind, node, nodejs, express, mongo, mongodb"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<Layout />

	<style is:global>
		:root {
			color-scheme: light dark;
		}
		html {
			font-family: "Onest Variable", system-ui, sans-serif;
			box-sizing: border-box;
			padding: 0;
			margin: 0;
		}
		#blob {
			position: fixed;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
		}
	</style>

</html>
