---
import LinkedInIcon from "../icons/LinkedIn.astro"
import GitHubIcon from "../icons/GitHub.astro"
import MailIcon from "../icons/Mail.astro";
---

<section id="contact" class="w-full p-9 gap-2 sm:gap-6 lg:gap-10 grid grid-cols-2 grid-rows-6 sm:grid-cols-4 sm:grid-rows-3">
    <div class="group flex place-items-center place-content-center rounded-lg border-2 border-neutral-900/20 bg-purple-600 opacity-70 col-span-2 row-span-2 hover:bg-neutral-950 duration-200  sm:col-span-3">
        <h3 class="text-neutral-950 font-semibold text-4xl md:text-5xl 2xl:text-7xl group-hover:text-purple-600 p-4 group-hover:underline">Contáctame</h3>
    </div>
    <div class="group py-8 flex place-items-center place-content-center col-span-2 sm:col-span-1 rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70 hover:bg-purple-600 duration-200  ">
        <a href="https://www.linkedin.com/in/rocamilo/" target="_blank"
        ><LinkedInIcon class="size-14 sm:size-28" /></a
    ></div>
    <div class="group py-8 flex place-items-center place-content-center col-span-2 sm:col-span-1 rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70 hover:bg-purple-600 duration-200  ">
        <a href="https://github.com/RodriguezCamilo/" target="_blank"
        ><GitHubIcon class="size-14 sm:size-28" /></a
    ></div>
    <div class="group py-8 flex place-items-center place-content-center col-span-2 sm:col-span-1 rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70  hover:bg-purple-600 duration-200 ">
        <a href="mailto:rodriguezcamilotrabajo@gmail.com" target="_blank"
        ><MailIcon class="size-14 sm:size-28" /></a
    ></div>
    <div class="group flex place-items-center place-content-center rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70 hover:bg-purple-600 duration-200  col-span-2 sm:col-span-3">
        <h4 class="text-purple-600 font-semibold text-center text-3xl md:text-3xl 2xl:text-5xl group-hover:text-purple-950 p-4 ">¡Me encantaría trabajar contigo!</h4>
    </div>
</section>