<footer
  class="place-self-center rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70 w-full lg:w-4/5 mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-around"
  >
    <span class="text-sm sm:text-center "
      >© 2024 <a href="https://www.linkedin.com/in/rocamilo/" target="_blank" class="hover:underline">kamdev</a>.
      Casi todos los derechos reservados
    </span>
  </div>
</footer>