<footer
  class="w-full p-9 gap-2"
>
  <div class="w-full rounded-lg border-2 px-9 py-4 flex justify-center border-neutral-900/20 bg-neutral-950 opacity-70">
    <span class="text-sm text-center"
      >© 2024 <a
        href="https://www.linkedin.com/in/rocamilo/"
        target="_blank"
        class="hover:underline">kamdev</a
      >. Casi todos los derechos reservados
    </span>
  </div>
</footer>
