---
import HomeIcon from '../icons/Home.astro'
import ProjectsIcon from '../icons/Projects.astro'
import ContactIcon from '../icons/Contact.astro'
---

<header class="h-screen fixed flex-col py-4 px-4 justify-evenly bg-neutral-950 opacity-70 hidden lg:flex border-2 border-neutral-900/20 z-10">
    <div class="flex flex-col text-center justify-around opacity-100">
        <a href="#home" class="place-self-center"><img class="rounded-full xl:w-24 xl:h-24 lg:w-20 lg:h-20 md:w-14 md:h-14 my-4 hover:blur-sm duration-200" src="/elmasterkam.webp" alt="Camilo Photo"/></a>
        <h2 class="xl:text-3xl lg:text-2xl font-bold">Camilo Rodriguez</h2>
        <h3 class="mt-2 xl:text-xl lg:text-lg text-wrap"><span class="text-purple-600">Web</span> developer</h3>
    </div>
    <ul class="grid grid-rows-4 gap-8 pb-24 sm:text-base lg:text-xl place-content-center opacity-100">
        <li class=" hover:underline hover:text-purple-600 duration-200 underline-offset-2"><a href="#home" class="flex place-content-left items-center gap-2"><HomeIcon/> Inicio</a></li>
        <li class="hover:underline hover:text-purple-600 duration-200 underline-offset-2"><a href="#projects" class="flex place-content-left items-center gap-2"><ProjectsIcon/>Proyectos</a></li>
        <li class="hover:underline hover:text-purple-600 duration-200 underline-offset-2"> <a href="#contact" class="flex place-content-left items-center gap-2"> <ContactIcon/>Contacto</a></li>
    </ul>
</header>
