---
import HtmlIcon from "../icons/Html.astro";
import CssIcon from "../icons/Css.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import ReactIcon from "../icons/React.astro";
import NodeIcon from "../icons/NodeJs.astro";
import ExpressIcon from "../icons/Express.astro";
import MongoIcon from "../icons/Mongo.astro";
import FirebaseIcon from "../icons/Firebase.astro";
import GitIcon from "../icons/Git.astro";
import GitHubIcon from "../icons/GitHub.astro";
import PostmanIcon from "../icons/Postman.astro";
import TypescriptIcon from "../icons/TypeScript.astro";
import SwaggerIcon from "../icons/Swagger.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import BootstrapIcon from "../icons/Bootstrap.astro";
import CVIcon from "../icons/CVIcon.astro";
import NextIcon from "../icons/Next.astro";
import ZustandIcon from "../icons/ZustandIcon.astro";
---

<section
    id="home"
    class="p-9 gap-2 sm:gap-6 lg:gap-10 grid grid-cols-2 grid-rows-9 sm:grid-cols-4 sm:grid-rows-4"
>
    <div
        class="group bg-neutral-950 opacity-70 hover:bg-purple-600 duration-200 rounded-lg border-2 border-neutral-900/20 text-center text-balance grid content-center gap-2"
    >
        <p
            class="text-purple-600 font-semibold text-4xl sm:text-4xl md:text-6xl xl:text-8xl group-hover:text-purple-950"
        >
            +2
        </p>
        <p class="text-base sm:text-xl xl:text-2xl">A침os estudiando desarrollo web</p>
    </div>
    <div class="rounded-lg border-2 border-neutral-900/20 bg-neutral-950 opacity-70 hover:bg-purple-600 hover:border-0">
        <div
            class="w-full h-full opacity-70 rounded-lg "
            style="background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGQ1aWUybWtkOWN2N3I1OXJnamQ1eGFtZ2Uydmx5bmFqaDR6cW14OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/u2pmTWUi0MXjyrMaVj/giphy.gif'); background-size: cover; background-repeat: no-repeat;"
        >
        </div>
    </div>
    <div
        class="group bg-neutral-950 opacity-70 col-span-2 row-span-2 hover:bg-purple-600 duration-200 rounded-lg border-2 border-neutral-900/20 text-center text-row grid content-center"
    >
        <h1
            class="text-purple-600 font-semibold text-3xl md:text-5xl 2xl:text-7xl group-hover:text-purple-950 p-4"
        >
            Desarrollador web Frontend
        </h1>
    </div>
    <div
        class="group bg-neutral-950 opacity-70 hover:bg-purple-600 duration-200 rounded-lg border-2 border-neutral-900/20 flex place-content-center place-items-center"
    >
        <a href="https://docs.google.com/document/d/1CHwO2Ur_f8r3ZeCCM4FgOYtxg3Vk-Fcvaeo-FhTUavc/edit?usp=sharing" target="_blank"
            ><CVIcon class="size-14 sm:size-28" /></a
        >
    </div>
    <div
        class="group bg-purple-600 opacity-70 hover:bg-neutral-950 duration-200 rounded-lg border-2 border-neutral-900/20 text-neutral-950 grid place-items-center justify-around"
    >
        <h3 class="text-sm sm:text-xl font-semibold group-hover:text-purple-600">Edad</h3>
        <p class="text-4xl sm:text-6xl font-bold sm:font-semibold group-hover:text-purple-600">25</p>
        <p class="text-sm sm:text-2xl font-semibold group-hover:text-purple-600">A침os</p>
    </div>
    <div
        class="group bg-neutral-950 opacity-70 col-span-2 row-span-2 hover:bg-purple-600 duration-200 rounded-lg border-2 border-neutral-900/20 grid grid-rows-2"
    >
        <div class="hidden sm:flex place-items-center justify-center">
            <h3
                class="text-purple-600 font-semibold text-3xl md:text-5xl 2xl:text-7xl group-hover:text-purple-950 p-4"
            >
                Tecnolog칤as
            </h3>
        </div>
        <div
            class="flex flex-wrap gap-4 sm:gap-7 justify-center content-center flex-row row-span-2 sm:row-span-1 p-4"
        >
            <HtmlIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <CssIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <TailwindIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <BootstrapIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <JavaScriptIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <TypescriptIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <ReactIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <NextIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <ZustandIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <AstroIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <NodeIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <ExpressIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <MongoIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <GitIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <GitHubIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <PostmanIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <FirebaseIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
            <SwaggerIcon class="sm:w-8 sm:h-8 w-8 h-8 2xl:w-12 2xl:h-12" />
        </div>
    </div>
    <div
        class="group bg-purple-600 opacity-70 col-span-2 row-span-3 sm:row-span-2 hover:bg-neutral-950 duration-200 rounded-lg border-2 border-neutral-900/20 grid place-content-center place-items-center gap-4 p-4"
    >
        <h3
            class="group text-neutral-950 group-hover:text-purple-600 text-balance text-center font-semibold text-xl sm:text-xl lg:text-2xl 2xl:text-4xl"
        >
            Hola 游녦! Soy
        </h3>
        <h2
            class="group  text-neutral-950 group-hover:text-purple-600 text-balance text-center font-bold text-3xl sm:text-3xl md:text-3xl lg:text-4xl 2xl:text-6xl"
        >
            Camilo Rodriguez
        </h2>
        <p
            class="group text-neutral-950 group-hover:text-purple-600 text-balance text-center font-semibold text-lg md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl"
        >
        Soy un desarrollador web con una s칩lida inclinaci칩n hacia el frontend. Me apasiona enfrentarme a nuevos desaf칤os y trabajar en proyectos que me sacan de mi zona de confort, ya que esto me permite aprender y superar mis propios l칤mites. Estoy en un proceso continuo de desarrollo profesional para mejorar cada d칤a como programador.
        </p>
    </div>
</section>
